body {
    
}

.maxwidth {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

tbody tr:hover {
    background-color: #ffffff; /* Lys baggrund når musen hover */
    cursor: default; /* Ændrer markøren til en hånd for klikbare elementer */
}