@page "/ordrer"
@using Anden_SemesterProjekt.Client.Components.Ordrer
@using Anden_SemesterProjekt.Client.Services
@using Anden_SemesterProjekt.Shared.Models

<PageTitle>Ordrer</PageTitle>

<h3 class="mb-3">Ordrer</h3>

<button type="button" class="btn btn-primary mb-2" @onclick="CreateOrdre">Opret ny ordre</button>

<OrdreListComponent Ordrer="Ordrer" />

@code {
    [Inject]
    public IOrdreClientService OrdreService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public List<Ordre> Ordrer { get; set; } = new List<Ordre>();

    protected override async Task OnInitializedAsync()
    {
        var ordreResult = await OrdreService.GetOrdrer();

        if (ordreResult != null)
        {
            Ordrer = ordreResult.OrderByDescending(o => o.OrdreId).ToList();
        }
    }

    private void CreateOrdre()
    {
        NavigationManager.NavigateTo("/ordrer/opret");
    }
}
