/*global.css*/
.modal {
    display: block; /* Hidden som standard */
    position: fixed;
    z-index: 1000; /* Ligger over andre elementer */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Rul, hvis nødvendigt */
    background-color: rgba(0, 0, 0, 0.4); /* Halvgennemsigtig baggrund */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrer modal */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Størrelsen på modal */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative
}

    .modal-content > * {
        pointer-events: auto; /* Gør, at kun modale indholdselementer er klikbare */
    }

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close-button:hover {
        color: black;
        text-decoration: none;
    }

.delete-button {
    width: 100px;
    height: 30px;
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
}


/* Standard liste stil */
.liste {
    list-style-type: none; /* Fjern standard punkttegn */
    padding: 0;
}

    .liste li {
        padding: 10px; /* Giver lidt plads rundt om hver listeitem */
        background-color: #f9f9f9; /* Lys baggrundsfarve */
        border: 1px solid #ddd; /* Grå kantlinje */
        transition: background-color 0.3s ease; /* Tilføjer en glidende effekt til baggrundsfarven */
    }

        /* Markér listeitem når musen hover henover */
        .liste li:hover {
            background-color: #e0e0e0; /* En mørkere farve når man hover */
            cursor: pointer; /* Ændrer musemarkøren til en hånd for at indikere klik */
        }
