@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar hideWhilePrint">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 hideWhilePrint">
            <span>mail@scooterland.dk</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
