@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar hideWhilePrint">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 hideWhilePrint">
            <span>Scootervej 47, 7100 Vejle &emsp; CVR: 273847383 &emsp; Telefon: (+45)13354758 &emsp; Email: mail@scooterland.dk</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
