@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4t">
            <span>Scootervej 47, 7100 Vejle &emsp; - &emsp; CVR: 273847383 &emsp; - &emsp; (+45)13354758 &emsp; - &emsp; mail@scooterland.dk</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
