@using Anden_SemesterProjekt.Client.Components.Varer
@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Services
@inject NavigationManager NavigationManager
@inject HttpClient Http
@page "/varer"

<VareListComponent Varer="@varer"  />
<VareOpretComponent OnVareAdded="@OnVareAddedHandler" /> 

@* <div class="container">
    <!-- Overskrift -->
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">Vareoversigt</h3>
        </div>
    </div>

    <!-- Søgefelt og Opdater-knap -->
    <div class="row mb-3">
        <!-- Søgefelt -->
        <div class="col-12 col-md-6 mb-2 mb-md-0">
            <input type="text"
                   class="form-control"
                   placeholder="Søg efter varer..."
                   @bind="searchTerm"
                   @oninput="FilterVarer" />
        </div>

        <!-- Opdater Liste-knap -->
        <div class="col-12 col-md-6">
            <button class="btn btn-secondary w-100" @onclick="OpdaterListe">Opdater Liste</button>
        </div>
    </div>

    <!-- Liste over varer -->
    @if (varer != null && filteredVarer.Any())
    {
        <div class="row">
            @foreach (var vare in filteredVarer)
            {
                <!-- Bruger VareRenderComponent til at vise hver vare -->
                <VareRenderComponent VareModel="vare" OnSelectVare="OnSelectVare" OnEditVare="OnEditVare" OnDeleteVare="OnDeleteVare" />
            }
        </div>
    }
    else
    {
        <div class="alert alert-info">
            Ingen varer fundet. Klik på "Opdater Liste" for at hente varer.
        </div>
    }
</div>
 *@



 





