@using Anden_SemesterProjekt.Client.Components.Varer
@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Services
@inject NavigationManager NavigationManager
@inject HttpClient Http
@page "/varer"

<div class="container">
    <!-- Overskrift og søgefelt -->
    <div class="row align-items-center mb-4">
        <!-- Vareoversigt -->
        <div class="col-6">
            <h3 class="mb-0">Vareoversigt</h3>
        </div>

        <!-- Søgefelt -->
        <div class="col-6 text-end">
            <input type="text"
                   class="form-control"
                   placeholder="Søg efter varer..."
                   @bind="searchTerm"
                   @oninput="FilterVarer" />
        </div>
    </div>

    <!-- Tabel med varer -->
    <VareListComponent Varer="filteredVarer" />
</div>


<VareOpretComponent OnVareAdded="@OnVareAddedHandler" />
@* <VareListComponent Varer="@varer" /> *@








