@using Anden_SemesterProjekt.Shared.Models

<EditForm EditContext="editContext" class="row p-3 mb-5 border border-primary rounded" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    
    <div class="col-md-12 mb-3">
        <label for="TelefonNummer">Telefonnummer (+45)</label>
        <InputText id="TelefonNummer" class="form-control" @bind-Value="tlfNummerModel.TelefonNummer" />
        <ValidationMessage For="@(() => tlfNummerModel.TelefonNummer)" />
    </div>

    <div class="col-12">
        <button type="submit" disabled="@isSubmitting" class="btn btn-primary">Tilføj</button>
    </div>

    <DataAnnotationsValidator />
</EditForm>


@code {
    private TlfNummer tlfNummerModel = new TlfNummer();
    private EditContext editContext;
    private bool isSubmitting = false;

    [Parameter, EditorRequired]
    public EventCallback<TlfNummer> OnInputSuccess { get; set; }

    protected override void OnInitialized()
    {
        editContext = new EditContext(tlfNummerModel);
    }

    private void HandleValidSubmit()
    {
        isSubmitting = true;
        OnInputSuccess.InvokeAsync(tlfNummerModel);
        tlfNummerModel = new TlfNummer();
        isSubmitting = false;
    }

    private void HandleInvalidSubmit()
    {
        
    }
}
