@using Anden_SemesterProjekt.Shared.Models

<div class="p-3 align-content-center">
    <span>(+45) @TlfNummer.TelefonNummer</span>
    @if (OnDelete.HasDelegate)
    {
        <button type="button" class="btn btn-danger m-3" @onclick="async () => await OnDelete.InvokeAsync(TlfNummer)">Slet</button>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public TlfNummer TlfNummer { get; set; }

    [Parameter]
    public EventCallback<TlfNummer> OnDelete { get; set; }
}
