@using Anden_SemesterProjekt.Client.Components.Kunder
@inject NavigationManager NavigationManager

@page "/kunder"

<PageTitle>Kunder</PageTitle>



@if(kunder != null)
{
    <KundeListComponent Kunder="kunder" OnEditKunde="OnEditKunde" OnDeleteKunde="OnDeleteKunde" OnSelectKunde="OnSelectKunde"/>
}
else
{
    <div class="row mb-5">
        <div class="">
            <h3>Kunder</h3>
        </div>
    </div>
}

<button type="button" class="mb-5 btn btn-primary" @onclick="() => showAddKundeComponent = !showAddKundeComponent">Opret ny kunde</button>

@if (showAddKundeComponent)
{
    <div class="row mb-5 p-3 border border-primary rounded">
        <KundeCreateComponent OnKundeAdded="OnKundeAddedHandler" />
    </div>
}