@page "/kunder/{KundeId:int}"

@if (KundeModel == null)
{
    <p>Indlæser...</p>
}
else if (KundeModel.KundeId == 0)
{
    <p>Kunde ikke fundet</p>
}
else
{
    <div class="row p-3">
        <div class="col-12">
            <Anden_SemesterProjekt.Client.Components.Kunder.KundeRenderComponent KundeModel="KundeModel"/>
        </div>
    </div>


}