@using Anden_SemesterProjekt.Client.Components.Kunder

@page "/kunder/opret"

<PageTitle>Kunde Oprettelse</PageTitle>

<div class="row mb-1">
    <KundeCreateComponent OnKundeAdded="OnKundeAdded" />
</div>

@code
{
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void OnKundeAdded()
    {
        NavigationManager.NavigateTo("/kunder");
    }
}