@using Anden_SemesterProjekt.Client.Components.Ansatte.Mekanikere

@page "/mekanikere"

<div class="row p-3">
    <h3>MekanikerPage</h3>

    @if (mekanikerList != null)
    {
        <MekanikerListComponent Mekanikere="mekanikerList" OnSelect="OnSelectHandler" />
    }

    @*Til test og reference til implementering af vælg knap. Skal slettes senere*@
    @if (SelectedMekaniker != null)
    {
        <h3>Valgt Mekaniker</h3>
        <MekanikerRenderComponent Mekaniker="SelectedMekaniker" />
    }

    @if (TestMekaniker != null)
    {
        <h3>Test Mekaniker</h3>
        <MekanikerRenderComponent Mekaniker="TestMekaniker" />
    }
</div>  