@using Anden_SemesterProjekt.Client.Components.Ansatte.Mekanikere
@page "/mekanikere"

<PageTitle>Mekanikere</PageTitle>

<div class="row p-3">
    @if (mekanikerList == null)
    {
        <div class="col-12">
            <h3>Der er ingen mekanikere</h3>
        </div>
    }
    else if (mekanikerList.Count > 0)
    {
        <MekanikerListComponent Mekanikere="mekanikerList"/>
    }
    else
    {
        <div class="col-12">
            <h3>Indlæser...</h3>
        </div>
    }
</div>  