@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Services
@inject HttpClient Http


@page "/Scooterlager"
<h3>ScooterLager</h3>

<h1>Tilføj ny scooter</h1>
<EditForm Model="nyUdlejningsScooter" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

   

    <div>
        <label for="mærke">ScooterMærke:</label>
        <select @bind="valgtScooterMærkeId">
        <option value =""> Vælg et mærke...</option>
        @foreach (var mærke in mærker)
            {
                <option value="@mærke.MærkeId">@mærke.ScooterMærke</option>
            }
        </select>
        <InputText id="stelnummer" @bind-Value="nyUdlejningsScooter.Stelnummer" class="form-control" placeholder="Stelnummer" />
        <InputText id="registreringsnummer" @bind-Value="nyUdlejningsScooter.Registreringsnummer" class="form-control" placeholder="Registreringsnummer" />
    </div>

    <button type="submit">Tilføj scooter</button>
</EditForm>


