@using Anden_SemesterProjekt.Shared.Models
@using Anden_SemesterProjekt.Client.Services
@inject HttpClient Http

@page "/Scooterlager"
<h1>ScooterLager</h1>

<h3>Tilføj ny scooter</h3>
<EditForm Model="nyUdlejningsScooter" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

   

    <div>
        <label for="mærke">Mærke:</label>
        <select @bind="valgtMærkeId"> 
        <option value =""> Vælg et mærke...</option>
        @foreach (var mærke in mærker)
            {
                <option value="@mærke.MærkeId">@mærke.ScooterMærke</option>
            }
        </select>
        <InputText id="stelnummer" @bind-Value="nyUdlejningsScooter.Stelnummer" class="form-control" placeholder="Stelnummer" />
        <InputText id="registreringsnummer" @bind-Value="nyUdlejningsScooter.Registreiringsnummer" class="form-control" placeholder="Registreringsnummer" />
    </div>

    <button type="submit" class="btn btn-primary">Tilføj scooter</button>
</EditForm>

