@using Anden_SemesterProjekt.Shared.Models



<div class="row p-3 mb-5 border border-primary rounded">
    <h4>Kundescootere tilføjet</h4>
    @if (KundeScootere != null && KundeScootere.Any())
    {
        @foreach (var scooter in KundeScootere)
        {
            <div class="col-12 p-3 mb-2 border border-primary rounded">
                <div>
                    <span>Stelnummer: @scooter.Stelnummer</span> 
                    <br />
                    <span>Registreringsnummer: @scooter.Registreringsnummer</span>
                    @if (scooter.Mærke != null)
                    {
                        <br />
                        <span>Mærke: @scooter.Mærke.ScooterMærke</span>
                    }
                </div>
                @if (OnDeleteScooter.HasDelegate)
                {
                    <button type="button" class="btn btn-danger float-end" @onclick="() => OnDeleteScooter.InvokeAsync(scooter)">Slet</button>
                }
            </div>
        }
    }
    else
    {
        <p>Ingen scootere fundet for denne kunde.</p>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public List<KundeScooter> KundeScootere { get; set; } = new();

    [Parameter]
    public EventCallback<KundeScooter> OnDeleteScooter { get; set; }
}






