

<h3>Udlejningsscooter liste</h3>

@if (UdlejningsScootere.Count < 1)
{
    <h5>Indlæser. Vent venligst...</h5>
}

@if (UdlejningsScootere.Count > 0)
{
   

    <table class="table table-sm" >
        <thead>
        <tr> 
            <th>Stelnummer</th>
            <th>Registreringsnummer</th>
            <th>Mærke</th>
            <th>Status</th>
        
        </tr>
        </thead>
        <tbody>
        @foreach (var scooter in UdlejningsScootere.Where(s => s.ErAktiv == true))
        {
            <tr @onclick="() => ScooterDetaljer(scooter)">
           
                <td>@scooter.Stelnummer</td>
                <td>@scooter.Registreringsnummer</td>
                <td>@scooter.Mærke?.ScooterMærke</td>
                <td>@(scooter.ErTilgængelig ? "Til rådighed" : "Udlejet")</td>
            </tr>
        }
        </tbody>
    </table>
}

@if (detailsModal)
{
    <div class="modal">
        <div class="modal-content">
            <span class="close-button" @onclick="CloseModal">&times;</span>
            <h3>Scooter detaljer</h3>
            <h4>Id: @valgtUdlejningsScooter?.ScooterId</h4>
            <h4>Mærke</h4> <p>@valgtUdlejningsScooter?.Mærke?.ScooterMærke</p>
            <h4>Stelnummer</h4> <p>@valgtUdlejningsScooter?.Stelnummer</p>
            <h4>Registreringsnummer</h4> <p>@valgtUdlejningsScooter?.Registreringsnummer</p>
            <button class="btn btn-primary" @onclick="() =>EditScooter(valgtUdlejningsScooter)">Rediger</button>
        </div>
    </div>
}
@if (editModal)
{

    <div class="modal">
        <div class="modal-content">
            <span class="close-button" @onclick="CloseEditModal">&times;</span>
            <h3>Mærke:</h3>
            <select @bind="redigeretScooter.MærkeId">
                <option value=""> Vælg et mærke...</option>
                @foreach (var mærke in mærker)
                {
                    <option value="@mærke.MærkeId">@mærke.ScooterMærke</option>
                    // Første værdi er hvad der bliver bindet, anden værdi er hvad der bliver vist i dropdown
                }
            </select>
            <p></p>
            <h3>Stelnummer</h3>
            <InputText id="stelnummer" @bind-Value="redigeretScooter.Stelnummer" class="form-control" placeholder="Stelnummer" />
            <p></p>
            <h3>Registreringsnummer</h3>
            <InputText id="registreringsnummer" @bind-Value="redigeretScooter.Registreringsnummer" class="form-control" placeholder="Registreringsnummer" />
            <p></p>
            <button class="btn btn-primary" @onclick="UpdateScooter">Gem</button>
            <p></p>
            <button class="btn btn-danger btn-sm delete-button" @onclick="() =>DeleteScooter(valgtUdlejningsScooter)">Slet</button>
        </div>
    </div>
}
