<h3>OpretUdlejning</h3>

<EditForm Model="nyUdlejning" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
       
        <label for="scooter">Scooter:</label>
        <select @bind="nyUdlejning.UdlejningsScooterId">
            <option value =""> Vælg en scooter...</option>
            @foreach (var udlejningsScooter in udlejningsScootere)
            {
                <option value="@udlejningsScooter.ScooterId">@udlejningsScooter.Registreringsnummer, @udlejningsScooter.Mærke.ScooterMærke</option> // Første værdi er hvad der bliver bindet, anden værdi er hvad der bliver vist i dropdown
            }
        </select>
        <div class="col-2"> @* Denne class, angiver at alt inden for, fylder 2 kolloner i et standard 12-grid layout*@
            <InputDate id="startDato" @bind-Value="nyUdlejning.StartDato" class="form-control" placeholder="Start dato" />
            <InputDate id="slutDato" @bind-Value="nyUdlejning.SlutDato" class="mb-2 form-control" placeholder ="Slut dato" />
            <h5>Leje pris pr. dag</h5>
            <InputNumber id="PrisPrDag" @bind-Value="nyUdlejning.LejePrDag" class="mb-2 form-control" placeholder="Lejepris pr dag" />
            <h5>KM pris</h5>
            <InputNumber id="PrisPrKm" @bind-Value="nyUdlejning.PrisPrKm" class="mb-2 form-control" placeholder="Kmpris" />
            <InputNumber id="KørteKm" @bind-Value="SamletKmPris" class="mb-2 form-control" placeholder="Kmpris" />

        </div>

    </div>

    </EditForm>
    