<h3>OpretUdlejning</h3>

<EditForm Model="nyUdlejning" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
       
        <label for="scooter">Scooter:</label>
        <select @bind="nyUdlejning.UdlejningsScooterId">
        <option value =""> Vælg en scooter...</option>
            @foreach (var udlejningsScooter in udlejningsScootere)
            {
                <option value="@udlejningsScooter.ScooterId">@udlejningsScooter.Registreringsnummer</option> // Første værdi er hvad der bliver bindet, anden værdi er hvad der bliver vist i dropdown
            }
        </select>
    <InputDate id="startDato" @bind-Value="nyUdlejning.StartDato" class="form-control" placeholder="Start dato" />
    <InputDate id="slutDato" @bind-Value="nyUdlejning.SlutDato" class="form-control" placeholder ="Slut dato" />
    </div>
    </EditForm>
