@page "/sko"
@using Anden_SemesterProjekt.Shared.Models

<div class="row">
    <label class="col-6"> </label>
    @if (ordreVareLinje.Vare.Pris > 0)
    {<label class="col-1">Pris</label>
     <label class="col-1">Antal</label>
    }
    
    @*  <div class="col-6"> *@
    <label class="col 6"></label>
    @*  </div> *@
</div>
<div class="row">
    <div class=" col-6 search-container">
        <input type="text"
               class="form-control"
               placeholder="Søg varer ..."
               @bind="søgeTekst"
               @oninput="OnSearchTextChanged" />
        @if (visForslag)
        {
            <ul class="liste">
                @foreach (var vare in vareForslag)
                {
                    <li @onclick="() => VælgVare(vare)">
                        @vare.Beskrivelse - @vare.Pris
                    </li>
                }
            </ul>
        }
    </div>
    @if (ordreVareLinje.Vare !=  null)
    {

        <label class="col-1">@ordreVareLinje.Vare.Pris Kr</label>
        <div class="col-1">
            <InputNumber id="antal" @bind-Value="ordreVareLinje.Antal" class="form-control" placeholder="Antal"/>
        </div>
        <div class="col-1">
            @*      <button class="btn btn-primary" @onclick="TilføjVare">Tilføj</button> *@
            </div>
          
       
    }
  
</div>