<div>
    <div class="row p-3 mb-3 border border-primary rounded">
        @foreach (var mekaniker in Mekanikere)
        {
            <MekanikerRenderComponent Mekaniker="mekaniker" />
        }
    </div>
</div>
