<div class="container">
    <!-- Overskrift og søgefelt -->
    <div class="row align-items-center mb-4">
        <!-- Vareoversigt -->
        <div class="col-6">
            <h3 class="mb-0">Vareoversigt</h3>
        </div>

        <!-- Søgefelt -->
        <div class="col-6 text-end">
            <input type="text"
            class="form-control"
            placeholder="Søg efter varer..."
            @bind-value="searchTerm"
            @bind-value:event="oninput" />
        </div>
    </div>
</div>    

<div class="table-container">
    @if (Varer == null || !Varer.Any())
    {
        <p class="text-center text-muted">Ingen varer fundet.</p>
    }
    else
    {
        <table class="table table-hover table-striped table-borderless vare-table">
            <thead class="thead-light">
            <tr>
                <th style="text-align: left;">Beskrivelse</th>
                <th style="text-align: left;">Pris</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var vare in FilteredVarer)
            {
                <tr @onclick="() => VareBeskrivelse(vare)">
                    <td>@vare.Beskrivelse</td>
                    <td style="text-align: left;">@($"{vare.Pris:N2} kr")</td>
                </tr>
            }
            </tbody>
        </table>
    }
        </div>
    
@if (detailsModal) 
{
    <div class="modal">
        <div class="modal-content">
            <span class="close-button" @onclick="CloseModal">&times;</span>
            <h3>Vare detaljer</h3>
            <h4>Id: @valgtVare?.Id</h4>
            <h4>Navn</h4> <p>@valgtVare?.Beskrivelse</p>
            <h4>Pris</h4> <p>@valgtVare?.Pris</p>
            <button class="btn btn-primary" @onclick="() => RedigerVare(valgtVare)">Rediger</button>
        </div>
    </div>
}

@if (editModal)
{
    <EditForm Model="redigeretVare" OnValidSubmit="@UpdateVare">
        <div class="modal">
            <div class="modal-content">
                <span class="close-button" @onclick="CloseEditModal">&times;</span>
                <h3>Navn:</h3>
                <input type="text" @bind="redigeretVare.Beskrivelse" />
                <h3>Pris:</h3>
                <input type="number" @bind="redigeretVare.Pris" />
                <button class="btn btn-primary" type="submit">Gem</button>
                <p></p>

            </div>
        </div>
    </EditForm>
 }





@* 
}
<div class="row">
    @if (Varer != null && Varer.Any())
    {
        @foreach (var vare in Varer)
        {
            <VareRenderComponent VareModel="vare" />
        }
    }
    else
    {
        <div class="alert alert-info">Ingen varer fundet.</div>
    }
</div> *@


@*  @if (Varer != null)
{
    @foreach (var vare in Varer)
    {
        <VareRenderComponent VareModel="vare" OnSelectVare="OnSelectVare" OnDeleteVare="OnDeleteVare" OnEditVare="OnEditVare" />

    }
}  *@





