<div class="row p-3 mb-5 border border-primary rounded">
    <div class="col-12">
        <h3>Kunder</h3>
    </div>
    @if (Kunder != null)
    {
        @foreach (var kunde in Kunder)
        {
            <KundeRenderComponent Kunde="kunde" OnEditKunde="OnEditKunde" OnDeleteKunde="OnDeleteKunde"/>
        }
    }
</div>
