<div class="row p-3 border border-primary rounded">
    <div class="col-md-4 mb-3">
        <h3>Kunder</h3>
    </div>
    <div class="col-md-4 mb-3">
        <select class="form-control form-select" @bind="selectedMærkeId">
            <option value="0">Mærke</option>
            @if (Mærker != null)
            {
                @foreach (var mærke in Mærker)
                {
                    <option value="@mærke.MærkeId">@mærke.ScooterMærke</option>
                }
            }
        </select>
    </div>
    <div class="col-md-4 mb-3">
        <input class="form-control float-end" @bind-value="searchString" @bind-value:event="oninput" placeholder="Søg via navn, telefonnummer, email" />
    </div>
    <div class="row p-3 mb-3">
        <div class="col-12">
            @if (Kunder != null)
            {
                @foreach (var kunde in FilteredKunder)
                {
                    <KundeRenderComponent KundeModel="kunde" OnEditKunde="OnEditKunde" OnDeleteKunde="OnDeleteKunde" OnSelectKunde="OnSelectKunde" />
                }
            }
        </div>
    </div>
</div>
